.sidebar {
    font-size: 2em;
    line-height: 1.3;
    letter-spacing: 0.03em;
    width: 25%;
    position: fixed;

    &-nav {
        position: relative;
        margin: 3.2em 15%;


       &-item {
        margin-bottom: 0.7em;

            &:last-child {
                margin-bottom: 0;
            }
       }
    }

    &-btn {
        display: block;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    z-index: 2;
    }


}

